body{
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#intro-body {
  background-color:black;
  margin-top: 5vh;
  flex-direction: column;
  background-image: url('./images/web-bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 94vh; 
  justify-content:flex-start;
}

#magic-body{
  background-color: #232323;
}


/* game boards design */
.game-board, .game-board-magic{
    transform: translate(10%, 20%);
    border-radius: 30px;
    background-color:#232323;
    width: 50vw;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.game-board-magic{
  background-color: #D9D9D9;
}

.level2-board{
    transform: translate(0%, 2%);
    width: 65vw;
}


/* cards design */
.cardBack, .cardFront{
    border-radius: 25px;
    border: 5px solid #E41A24;
    background-color:aliceblue;

    z-index: 4;
    cursor: pointer;
    

    display:flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.cardBackMagic, .cardFrontMagic{
  border-radius: 25px;
  background-color:#232323;

    z-index: 4;
    cursor: pointer;
    

    display:flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}


/* cards back design */
.cardBack {
    background-color: aliceblue;
    transform: rotateY(0deg);
    z-index: 2;
}

.cardBackMagic{
  transform: rotateY(0deg);
  z-index: 2;
}

/* cards front design */
.cardFront {
    background-color: white;
    transform: rotateY(180deg);
    z-index: 1;
}

.cardFrontMagic{
  transform: rotateY(180deg);
  z-index: 1;
}

.cardContent{
    height: 10vh;
    object-fit: cover;
}

.cardContentMagic{
  height: 21.5vh;
  object-fit: cover;
}

.card-container {
    position: relative;
    width: 14vh;
    height: 20vh;
    margin: 1.5vw;
}

.card-container.disabled {
    pointer-events: none; /* Disable mouse events */
}


/* When flipped, the back hides and the front shows */
.flipped .cardBack {
  transform: rotateY(180deg);
}

.flipped .cardFront {
  transform: rotateY(0deg);
}

.flipped .cardBackMagic {
  transform: rotateY(180deg);
}

.flipped .cardFrontMagic {
  transform: rotateY(0deg);
}



/* titles and timer design */
h1, #timer{
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: azure;
}
#timer{
    font-size: 3vh;
}

.title{
  font-size: 80px;
}



/* winning and losing design */
.winner, .loser {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 4rem;
    background-color: #232323;
    text-align: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .winner{
    background-image: url('./images/confetti.png');
    object-fit: cover;
  }

  .reset, .next-level {
    color: #3719F5;
    font-size: 4vw;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  #resetButton, #nextLevelBtn{
    font-size: 3vw;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;

    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #3719F5;

    cursor: pointer;
  }



  #nextLevelBtn > a{
    text-decoration: none;
  }

  #nextLevelBtn > a:visited{
    color: #3719F5;
  }

  #nextLevelBtn:hover{
    background-color: #232323;
  }

  #winner-img, #loser-img{
    height: 30vh;
    object-fit: cover;
  }

  #game-title{
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: azure;
  }

  .themes{
    display: flex;
    justify-content: space-evenly;
    width: 90vh;

    padding: 10px;
  }

  .theme-btn{
    background-color: #D9D9D9;
    color: #232323;
    font-size: 40px;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    border-radius: 80px;
    padding: 35px;

  }

  .theme-btn:hover{
    background-color: #3719F5;
    color: #D9D9D9;
  }